
<div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">



    <div class="back-salmon" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="28" fxFlex.xs="80" style="margin-top: 200px">
        <!-- <button class="btnLink"  fxFlex="40" >Ver productos</button>  -->
        <div fxLayout="row wrap"  fxLayoutAlign="center space-around" style="height:350px" fxFlex.gt-lg="33">
            <img src="assets/food1.png"  fxFlex="100" style="margin-top: 100px;"  >
            <h2 class="fontTitles" fxLayoutAlign="center" fxFlex="100" style="margin-top: 30px;">Hamburguesa</h2> 
            <button mat-fab  aria-label="Example icon button with a home icon" class="btn">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>
    </div>
   
</div>
