
<div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">

 
    <div  fxLayout="row wrap"  fxLayoutAlign="center center"  class="logo-header" fxFlex="100">
        <img src="assets/logo-header.png" alt="" fxFlex="35">
        <!-- <h1 fxFlex="100">HOLA!!!</h1> -->
    </div>
    
    
    <form  fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 10px; " fxFlex="100">
        <mat-form-field class="example-full-width" appearance="outline" fxFlex="90" style="margin-top: 1em; line-height: 2.6em; "  >
            <input type="text" matInput placeholder="Buscar deliciosa comida en Centro Cocina!!!">
            <mat-icon matSuffix style="transform:scale(1.7)">search</mat-icon>
        </mat-form-field>
    </form>
    
    <div fxLayout="row wrap" fxLayoutAlign="space-between " fxFlex="98" class="logo-container" style="margin-top: 30px">
        <img src="assets/logo-pizza.png" alt="" fxFlex="23" class="mini-logo" >
        <img src="assets/logo-hamburger.png" alt="" fxFlex="23" class="mini-logo">
        <img src="assets/logo-pasta.png" alt="" fxFlex="23" class="mini-logo">
        <img src="assets/logo-organic.png" alt="" fxFlex="23" class="mini-logo">
    </div>

    
    <div class="" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  style="margin-top: 60px">
        <img src="assets/off3.png" alt="" fxFlex="100">
    </div>




    <!-- <div  class="logo" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100"  style="margin-top: 20px">
        <img src="assets/logo.png" alt="" fxFlex="100">
    </div> -->
  
    <!-- <div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  style="margin-top: 40px">
        <h1 style="font-family: awesome; font-size: 5vw; ">Te damos la bienvenida a Centro Cocina!!</h1>
        <p>En nuestra app podes encontrar todo los que necesitás!!
         Podemos ofrecerte lo mas rico en Fast Food y tambien disponemos una gran variedad de opciones de comidas saludables, que te van a encantar!!!</p> <p class="material-icons"> favorite_border</p>
    </div>     -->

    <div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  style="margin-top: 40px">
        <h1 fxLayoutAlign="center "fxFlex="100">Nuestro Menú</h1>
    </div>

    <div class="hamburger" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  style="margin-top: 40px">
        <h2 fxFlex="65" >Hamburguesas</h2>
        <img src="assets/food1.png" alt="" fxFlex="30">
    </div>
    
    <div class="hamburger" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  style="margin-top: 40px">
        <h2 fxFlex="65">Pizzas</h2>
        <img src="assets/pizza.png" alt="" fxFlex="30" style="transform: scale(1.45)">
    </div>

    <div class="hamburger" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  style="margin-top: 40px">
        <h2 fxFlex="65">Pastas</h2>
        <img src="assets/pasta.png" alt="" fxFlex="30" style="transform: scale(1.7)">
    </div>


</div>
