
<div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">


    <div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100"  style="margin-top: 20px">
        <img src="assets/centrococina-logo.png" alt="" fxFlex="100">
    </div>

    <div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  style="margin-top: 40px">
        <h1 style="font-family: awesome; font-size: 5vw; ">Te damos la bienvenida a Centro Cocina!!</h1>
        <p fxFlex="100">En nuestra app podes encontrar todo los que necesitas!!</p>
        <p fxFlex="100">Contamos con lo mas rico en Fast Food y con opciones de comidas caseras, que te van a encantar </p>
    </div>    

    <div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  style="margin-top: 40px">
        <h1 fxFlex="100">Fast Food</h1>
        <img src="assets/food1.png" alt="" fxFlex="100">
    </div>
   
</div>
