

// .background{

//     background-image: url(../../../../assets/background.png);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
// }

.background{
    height: 100%;
    width: 100%;
    background-color: #fccc04;
}