

.icon:hover{

    cursor: pointer;
    .font{
        color: red;
    }
    i{
        color: red;
    }
}

    
.font{
    font-family:'poppins-light';
    font-size: 1.5em;
  }

.footer{
    height: 80px;
    border-top: 1px solid red;
}  




//Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {

    .font{
        font-size: 1.2em;
        color: rgba(0, 0, 0, 0.349);

      }


}

@media only screen and (min-width: 576px) {

}
    

/* medium devices (tablets, 768 px and up) */ 
@media only screen and (min-width: 786px) {

}
    

/* large devices (desktops, 992 px and up) */ 
@media only screen and (min-width: 992px) {

}

/* x-large devices (desktops, 1200 px and up) */ 
@media only screen and (min-width: 1200px) {
    
    .font{
        font-size: 1.3em;
      }
    i{
        transform: scale(1.2);
    }

    .footer{
        height: 100px;
        border-top: 1px solid red;
    }  
    
    

    

}
    

/* XX- Large devices (larger desktops, 1400px and up) */ 
@media only screen and (min-width: 1400px) {

}
    
