

 .mat-dialog-container{

  height: 100%;
  width: 100%;
  overflow: hidden;
}



  .offer{
     height: 50vh;
     width: 95vw;
     background-image: url(../../../../assets/off-2.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size:contain;
  }
