



<div   class="mat-dialog-container" >

    
     <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100">
        
        <!-- <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100"> -->
            
            <!-- <mat-dialog-actions style="margin-right: 30px; " > -->
                <!-- <mat-icon  mat-button mat-dialog-close style="cursor: pointer; transform: scale(1.3); padding: 30px;">close</mat-icon> -->
                <!-- <mat-icon  mat-button mat-dialog-close style="cursor: pointer; transform: scale(1.3); position: fixed; right: 30px; top: 30px;">close</mat-icon> -->

            
            <img src="assets/off-2.jpg" alt="" fxFlex="100"  >
            
            
            <!-- <div fxLayout="row wrap" fxLayoutAlign="center"  fxFlex="100" class="mt-20"> -->
                <!-- </div>   -->
                
            <!-- </mat-dialog-actions> -->


</div>

</div>