

 .mat-dialog-container{

  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0 !important;
}



  .offer{
     background-image: url(../../../../assets/off4.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
  }
