



<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" >

    <div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" style="margin-top: 25px; margin-left: 25px;">
        <span class="font" style="font-size:6vw;" >Tus ordenes</span>
    </div> 



    
    
    
    
    
  <mat-card fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="96" style="margin-top: 20px;">
        
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="70" class="font fs-4" >
            <span  fxLayoutAlign="start "> Orden<b style="color: red;"> &nbsp;&nbsp; 7564</b></span> 
    </div><br><br>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="60" class="font" >
        <p class="font" fxFlex="100"> Hamburguesa Simple</p>
        <p class="font" fxFlex="100"> Lechuga, tomate y queso</p>
        <p class="font" fxFlex="100">Papas medianas</p>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="40">
         <p class="font" fxFlex="100" fxLayoutAlign="end center"> 1 x $ 1450</p>
         <p class="font" fxFlex="100" fxLayoutAlign="end center"> 1 x $ 1450</p>
         <p class="font" fxFlex="100" fxLayoutAlign="end center"> 2 x $ 300</p>
   </div>
   <p class="font" fxFlex="100" fxLayoutAlign="end center"> <b>Total</b>&nbsp;&nbsp;$ 3500</p>

   <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100">
        <p class="font" fxFlex="100" > Estado <b style="color: green;" class="fs-5" >&nbsp;&nbsp;Entregado</b></p>
        <p class="font" fxFlex="100" > Pago <b>&nbsp;&nbsp;Cuenta Corriente</b></p>
        <p class="font" fxFlex="100" fxLayoutAlign="start center"> Fecha:&nbsp;&nbsp;5 de Agosto 2022</p>
   
    </div>

</mat-card>

<!-- <button mat-raised-button fxFlex="97" class="btnFilled fs-5" style=" margin-top: 25px; margin-bottom: 20px;" routerLink="../success" >Ver ofertas
 </button> -->

</div>        

