


<div fxLayout="row wrap" fxLayoutAlign="center center" class="frameBanner">
    
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="font fs-4" routerLink="../register" style="cursor: pointer;">

        <!-- <i class="material-symbols-outlined" fxLayoutAlign="center center" fxFlex="20" style="border: 2px solid red;">lock_open</i> -->

        <button mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
            <mat-icon>lock_open</mat-icon>
          </button>
        
        <span fxFlex="80" fxLayoutAlign="center center"> <b> Ingresá con tu cuenta o Registrate </b> </span>
    </div>

</div>