

.font{
    font-family: 'poppins-light'; 
    font-size: 5vw;
}
.mat-card{
    box-shadow: -1px 4px 14px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 4px 14px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 14px -2px rgba(0,0,0,0.75);
}