



<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" >

    <h1 class="font" style="margin-top: 30px; font-size: 6vw;">Tu orden</h1>

    <mat-card fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="98" style="margin-top: 20px">

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="60" class="font" >
            <mat-card-title >Hamburguesa Simple </mat-card-title>
            <mat-card-subtitle >Tomate-lechuga-queso</mat-card-subtitle>
            <p class="font"> <b>$ 764 </b></p>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="40">
            <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100">
                <mat-dialog-actions >
                    <mat-icon  mat-button mat-dialog-close style="cursor: pointer; transform: scale(1.1);">close</mat-icon>
                </mat-dialog-actions>
            </div>
            <img src="assets/food1.png" alt="" fxFlex="70">
        </div>
    </mat-card>

    <mat-card fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="98" style="margin-top: 20px">

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="60" class="font" >
            <mat-card-title>Hamburguesa Doble</mat-card-title>
            <mat-card-subtitle >Tomate-lechuga-queso</mat-card-subtitle>
            <p class="font"> <b>$ 934 </b></p>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="40">
            <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100">
                <mat-dialog-actions >
                    <mat-icon  mat-button mat-dialog-close style="cursor: pointer; transform: scale(1.1);">close</mat-icon>
                </mat-dialog-actions>
            </div>
            <img src="assets/food1.png" alt="" fxFlex="70">
        </div>
    </mat-card>

    <mat-card fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="98" style="margin-top: 20px">

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="60" class="font" >
            <mat-card-title>Extra Papas Medianas </mat-card-title>
            <mat-card-subtitle >Tomate-lechuga-queso</mat-card-subtitle>
            <p class="font"> <b>$ 264 </b></p>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="40">
            <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100">
                <mat-dialog-actions >
                    <mat-icon  mat-button mat-dialog-close style="cursor: pointer; transform: scale(1.1);">close</mat-icon>
                </mat-dialog-actions>
            </div>
            <img src="assets/fries.png" alt="" fxFlex="70">
        </div>
    </mat-card>

    <mat-card fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="98" style="margin-top: 20px; margin-bottom: 20px;">

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="60" class="font" >
            <p class="font" fxFlex="100"> Total Items</p>
            <p class="font" fxFlex="100"> Delivery</p>
            <p class="font"><b>Costo Total</b></p>


        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="40">
             <p class="font" fxFlex="100" fxLayoutAlign="end center"> $ 1450</p>
             <p class="font" fxFlex="100" fxLayoutAlign="end center"> $ 1450</p>
             <p class="font" fxFlex="100" fxLayoutAlign="end center"> <b>$ 2900</b></p>

        </div>
    </mat-card>

    <button mat-raised-button fxFlex="100" class="font" style=" font-size: 5vw; border-radius: 4px; line-height: 2.5em; background-color: red; color: white; margin-top: 40px; margin-bottom: 20px;" >Pagar
     </button>

</div>        

