
<div style="text-align: center;" fxFlex="100">
<br><br>
<br>
    <!-- <mat-label class="font fs-7 mt-40"> Editar el Menú</mat-label> -->
    

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-40 font fs-5" style="width: 95%; margin: 30px auto; ">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
        <!-- img Column -->
        <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> Img. </th>
        <td mat-cell *matCellDef="let element" style="text-align: justify; margin: 0;"> <img [src]="element.img" width="70px"> </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element" style="text-align: justify;" > {{element.name}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element" > {{element.price}} </td>
        </ng-container>
    
        <!-- description Column -->
        <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef > Descripción </th>
        <td mat-cell *matCellDef="let element" style="text-align: justify;"> {{element.description}} </td>
        </ng-container>
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>