<div  fxLayout="row wrap"  fxLayoutAlign="space-between" fxFlex="100" fxFlex.xs="90" >

    <div class="icon" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="20" style="margin-bottom: 10px">
        <i class="material-icons-outlined" fxLayoutAlign="center center" fxFlex="100">home</i> 
        <span class="font" >Inicio</span>
    </div>  
   
    <div   fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="20" style="margin-bottom: 10px">
        <i (click)="openBottomSheet()" class="material-icons-outlined" fxLayoutAlign="center center" fxFlex="100">shopping_bag</i> 
        <span class="font" >Pedidos</span>
    </div>    

    <div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="20" style="margin-bottom: 10px">
        <i class="material-icons-outlined" fxLayoutAlign="center center" fxFlex="100">place</i> 
        <span class="font" >Ubicación</span>
    </div>   

    
    <div fxLayout="row wrap"  fxLayoutAlign="center start" fxFlex="20" style="margin-bottom: 10px">
        <i class="material-icons-outlined" fxLayoutAlign="center center" fxFlex="100">more_vert</i> 
    </div>  
</div>


