


<div fxLayout="row wrap" fxLayoutAlign="space-between center"  style="height:60px">

    <div fxLayout="row wrap"  fxLayoutAlign="center" fxFlex="20" style="margin-bottom: 5px">
        <!-- <i class="material-icons-outlined" fxLayoutAlign="center center" fxFlex="100"></i>  -->
        <button mat-mini-fab  aria-label="Example icon button with a delete icon" routerLink="../home">
            <mat-icon>arrow_back_ios_new</mat-icon>
          </button>
    </div>  

    <div fxLayout="row wrap"  fxLayoutAlign="center" fxFlex="20" style="margin-bottom: 5px">
        <button mat-mini-fab c aria-label="Example icon button with a delete icon" routerLink="../cart">
            <mat-icon>shopping_cart</mat-icon>
          </button>
    </div>  



    
</div>
