
<div  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="animate__animated animate__fadeIn" >

 
    <div  fxLayout="row wrap"  fxLayoutAlign="center center"  class="logo-header" fxFlex="100">
        <!-- <img src="assets/logo-header.png" alt="" fxFlex="15"> -->
        
        
        <form  fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 25px; " fxFlex="30" fxFlex.xs="100">
            <mat-form-field  appearance="outline"   fxFlex="90" >
                <input type="text" matInput  placeholder="        Buscar en Centro Cocina!!!">
                <mat-icon matSuffix style="transform:scale(1.7); color: red; margin-right: 20px;">search</mat-icon>
            </mat-form-field>
        </form>
    </div>
    
    <div  fxLayout="row wrap"  fxLayoutAlign="start" fxFlex="95"  style="margin-top: 40px;" class="">
        <span  class="font" fxFlex="100" >Hola, <b>Marcelo!!</b></span>
        <br><br>
        <span  class="font ">Necesitás <b style="color: red; cursor: pointer;" routerLink="../geo">delivery?</b></span>
    </div>    

    <div fxLayout="row wrap" fxLayoutAlign="space-between center " fxFlex="98" class="logo-container" class="mt-30">
        <img src="assets/logo-hamburger.png" alt="" fxFlex="20" class="mini-logo animate__animated animate__fadeInLeftBig" routerLink="../fast-food-h">
        <img src="assets/logo-pizza.png" alt="" fxFlex="20" class="mini-logo animate__animated animate__fadeInLeftBig" routerLink="../dashboard"  >
        <img src="assets/logo-pasta.png" alt="" fxFlex="20" class="mini-logo animate__animated animate__fadeInLeftBig">
        <img src="assets/logo-organic.png" alt="" fxFlex="20" class="mini-logo animate__animated animate__fadeInLeftBig">
    </div>

    
    <div class="" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  style="margin-top: 60px">
        <img src="assets/off3.png" alt="" fxFlex="80" fxFlex.xs="100" >
    </div>




    <!-- <div  class="logo" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100"  style="margin-top: 20px">
        <img src="assets/logo.png" alt="" fxFlex="100">
    </div> -->
  

    <div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  class="mt-40">
        <h1 fxLayoutAlign="center center" class="font" fxFlex="100">Nuestro Menú</h1>
    </div>

    <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="95" style="margin-top: 40px">


        <div class="menu " fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex.xs="95" fxFlex="30" routerLink="../fast-food-h" style="margin-top: 40px">
            <h2 fxFlex="65" class="font" >Hamburguesas</h2>
            <img src="assets/food1.png" alt="" fxFlex.xs="30" fxFlex="50">
        </div>
        
        <div class="menu" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex.xs="95" fxFlex="30"  style="margin-top: 40px">
            <h2 fxFlex="65" class="font">Pizzas</h2>
            <img src="assets/pizza.png" alt="" fxFlex.xs="30" fxFlex="50" style="transform: scale(1.45)">
        </div>

        <div class="menu" fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex.xs="95" fxFlex="30"  style="margin-top: 40px">
            <h2 fxFlex="65" class="font">Comida Casera</h2>
            <img src="assets/pasta.png" alt="" fxFlex.xs="30" fxFlex="50" style="transform: scale(1.7)">
        </div>
    </div>



</div>
