

.material-symbols-outlined{
    transform: scale(2);
}

.font{
    font-family:'poppins-light';
    font-size: 1.5em;
}

h1.font{
    font-size: 3em;
    font-weight: bold;
}


.logo-container{
    border-radius: 35px;
    background-color: #e5e5e530;
}

.logo-header{
    background-color: rgb(220,28,36);

    box-shadow: -1px 4px 14px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 4px 14px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 14px -2px rgba(0,0,0,0.75);

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #61a7e900;
    opacity: 1!important;
    background-color: white;
    border-radius: 50px;

    box-shadow: 0px 1px 9px -2px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 1px 9px -2px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 1px 9px -2px rgba(255,255,255,0.75);
}

mat-form-field.mat-form-field{
    font-size: 4vw;
}

  
}
// #dc1c24

.mini-logo{
    cursor: pointer;
    // transform: scale(0.7);

    filter: drop-shadow(0px 0px 3px #000000);
    -webkit-filter: drop-shadow(0px 0px 3px #000000);
    -moz-filter: drop-shadow(0px 0px 3px #000000);
}




.menu{
    border-radius: 20px;
    cursor: pointer;

    background: rgba(211,172,8,0.44);
    background: radial-gradient(circle farthest-corner at center center, rgba(211,172,8,0.44) 0%, #fccc04 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, rgba(211,172,8,0.44) 0%, #fccc04 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, rgba(211,172,8,0.44) 0%, #fccc04 80%);
    
    box-shadow: 18px 21px 14px -5px rgba(0,0,0,0.15);
    -webkit-box-shadow: 18px 21px 14px -5px rgba(0,0,0,0.15);
    -moz-box-shadow: 18px 21px 14px -5px rgba(0,0,0,0.15);


    img{
        filter: drop-shadow(10px 10px 1px rgba(0,0,0,0.06));
        transform: scale(1.3);
        
    }
}

.menu:hover{
  

    background: radial-gradient(circle farthest-corner at center center, rgba(211,172,8,0.44) 0%, #fccc04  80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, rgba(211,172,8,0.44) 0%, #fccc04 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, rgba(211,172,8,0.44) 0%, #fccc04 80%);
    img{
        filter: drop-shadow(10px 10px 1px rgba(0,0,0,0.06));
        transform: scale(1.4);
        
    }
}







//Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {


    .font{
        font-size: 1.2em;
    }

    h1.font{
        font-size: 1.6em;
        font-weight: bold;
    }

    
   
}

@media only screen and (min-width: 576px) {

}
    

/* medium devices (tablets, 768 px and up) */ 
@media only screen and (min-width: 786px) {

}
    

/* large devices (desktops, 992 px and up) */ 
@media only screen and (min-width: 992px) {

}

/* x-large devices (desktops, 1200 px and up) */ 
@media only screen and (min-width: 1200px) {
    
    .logo-header{
    
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
 
        border-radius: 50px;
    }
    
    mat-form-field.mat-form-field{
        font-size: 1vw;
    }
}
      


}




@media only screen and (min-width: 1400px) {
/* XX- Large devices (larger desktops, 1400px and up) */ 
     


}
    
