

<div fxLayout="row wrap" fxLayoutAlign="center" >

    <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="100">

        <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="50" style="margin-top: 50px;">
            <img src="assets/food1.png" alt="" fxFlex="95" style="transform: scale(1.1)" (click)="share()">
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="50" style="margin-top: 50px;" #top>
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="95" class="font fs-5" style="color: red;">
                <p fxFlex="90" fxLayoutAlign="center center">Hamburguesa Simple </p>
                <p fxFlex="90" fxLayoutAlign="center"><b class="font fs-6">$700 </b></p>
            </div>

           <!-- counter -->
           <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="45"  class="incrementer">
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="15" (click)="decrement('hamburger')" >
                    <i class="material-symbols-outlined">remove</i>
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="20">
                <mat-label style="font-size: 4vw;">{{hamburger}}</mat-label>
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="15" (click)="increment('hamburger')">
                    <i class="material-symbols-outlined">add</i>
            </div>
        
        </div>
            <!-- end counter -->
    </div>
   </div>

    <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="99" class="whiteframe" style="margin-top: 30px;" class="font" >
        <mat-card fxFlex="99" class="font">
            <mat-card-title >Detalles</mat-card-title>
            <mat-card-subtitle >Hamburguesa simple</mat-card-subtitle>
            <mat-card-content >
                <p>Nuestra hamburguesa está hecha con carne seleccionada de primera calidad</p> <br>
                <p><b>Ingredientes</b></p>
                <p>Lechuga, tomate, cebolla y queso</p>

            </mat-card-content>
            <mat-card-actions>
           
             <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100" style="margin-top: 5px">
                    <i class="material-icons" style="color: red;" >star_rate</i> 
                    <span class="font" style="font-size: 3vw;" fxFlex="50" > (<b>737</b> comentarios)</span>
            </div>
            </mat-card-actions>
        </mat-card>
    
    </div>  
    
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="98" class="whiteframe" style="margin-top: 30px;" class="font ">
        <p fxFlex="98" > Extras</p>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="98"  style="margin-top: 10px;" >
        
            <!-- papas fritas -->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center"  fxFlex="100">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="50" >
                <span style="font-size: 4vw;" >Papas fritas</span>
                <span style="color: red;" class="fs-6" >&nbsp; &nbsp;<b> $ 230 </b></span>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="50" style="">
                       <!-- counter -->
           <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="45"  class="incrementer">
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="15" (click)="decrement('fries')" >
                    <i class="material-symbols-outlined">remove</i>
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="20">
                <mat-label style="font-size: 4vw;">{{fries}}</mat-label>
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="15" (click)="increment('fries')">
                    <i class="material-symbols-outlined">add</i>
            </div>
        
        </div>
            <!-- end counter -->
            </div>
           </div>
         <!-- end papas fritas -->

            <!-- coca cola -->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center"  fxFlex="100" style="margin-top: 10px">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="50" style="">
                    <span style="font-size: 4vw;" >Coca Cola</span>
                <span style="color: red;" class="fs-6" >&nbsp; &nbsp;<b> $ 180 </b></span>

                </div>
 
             <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="50" style="">
                    <!-- counter -->
           <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="45"  class="incrementer">
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="15" (click)="decrement('coca')" >
                    <i class="material-symbols-outlined">remove</i>
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="20">
                <mat-label style="font-size: 4vw;">{{coca}}</mat-label>
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="15" (click)="increment('coca')">
                    <i class="material-symbols-outlined">add</i>
            </div>
        
        </div>
            <!-- end counter -->
         </div>
           </div>
           <!-- end coca cola -->

            <!-- Helado -->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center"  fxFlex="100" style="margin-top: 10px">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="50" style="">
                <span style="font-size: 4vw;" >Helado</span>
                <span style="color: red;" class="fs-6" >&nbsp; &nbsp;<b> $ 310 </b></span>

            </div>

            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="50" style="">
                    <!-- counter -->
           <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="45"  class="incrementer">
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="15" (click)="decrement('icecream')" >
                    <i class="material-symbols-outlined">remove</i>
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="20">
                <mat-label style="font-size: 4vw;">{{icecream}}</mat-label>
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="15" (click)="increment('icecream')">
                    <i class="material-symbols-outlined">add</i>
            </div>
        
        </div>
            <!-- end counter -->
        </div>
        </div>
        <!-- end helado -->
      </div>  

    </div>
<!-- costo -->
<div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="96" class="whiteframe" style="margin-top: 50px;" class="font fs-5" >
    <p fxFlex="50" fxLayoutAlign="start center" > Total</p>
    <p fxFlex="50" fxLayoutAlign="center center"><b>$ {{total}}</b></p>
</div>    

<button mat-raised-button fxFlex="97" class="btnFilled fs-5" style=" margin-top: 50px; margin-bottom: 10px;"  routerLink="../cart"><i class="material-symbols-outlined" style="transform: scale(1.3);">shopping_bag</i> 
    &nbsp; &nbsp; Comprar
 </button>

</div>