

<div fxLayout="row wrap" fxLayoutAlign="center space-between" style="height: 100%;">

    <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="100">
  
      <!-- profile header -->
      <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="100">
          <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-30" fxFlex="50">
              <span class="font fs-6">Configuraciones</span>
          </div>
      </div>
      <!-- end profile header -->
  
      <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="100">
      
      <form  [formGroup]="settingForm"class="font fs-5" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="90" style="margin-top: 60px">

        <mat-label fxFlex="100"> <b> Notificaciones </b></mat-label>

      <div fxLayout="row wrap" fxLayoutAlign="end center"  fxFlex="100" class="mt-30" >
        <mat-label fxFlex="80">Ofertas Shell Shop</mat-label>
        <mat-slide-toggle formControlName="enableWifi" fxFlex="20"  ></mat-slide-toggle>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="end center"  fxFlex="100" class="mt-30" >
        <mat-label fxFlex="80">Ofertas Bata Lubricantes</mat-label>
        <mat-slide-toggle formControlName="enableWifi" fxFlex="20"  ></mat-slide-toggle>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="end center"  fxFlex="100" class="mt-30" >
        <mat-label fxFlex="80">Ofertas Farmacia Martinez</mat-label>
        <mat-slide-toggle formControlName="enableWifi" fxFlex="20"  ></mat-slide-toggle>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="end center"  fxFlex="100" class="mt-30" >
        <mat-label fxFlex="80">Email Marketing</mat-label>
        <mat-slide-toggle formControlName="enableWifi" fxFlex="20"  ></mat-slide-toggle>
      </div>
      
    </form>

</div>
  

    <img src="assets/logo-header.png" alt="" fxFlex="45" class="mt-30">
  
</div>
  

  
  
  
  <!-- save button -->
  <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="100" style="margin-bottom: 10px;">
      
      <div fxLayout="row wrap" fxLayoutAlign="center center" class="title" fxFlex="50" (click)="onFormSubmit()" >
          <span class="font fs-5">Guardar</span>
      </div>
      
  </div>
  <!-- end save button -->
  
  
  
  </div>
  
  
  