



<div fxLayout="row wrap" fxLayoutAlign="center space-between" class="backLogin">
  
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
    
      <!-- <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-20" fxFlex="100">
          <span class="font fs-5" ><b> Que bueno verte!! </b> </span> &nbsp;
          <i class="material-icons f-w" >favorite</i>
      </div> -->

      <img src="assets/logo-header.png" alt="" fxFlex="33" class="mt-10">

      
      
      <form  [formGroup]="myForm"  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="90"  style="margin-top: 15px;">     
          
      <mat-form-field appearance="outline" fxFlex="85" class="mt-10 font fs-5" >		
        <mat-label>Nombre Completo</mat-label>
        <input matInput type="text" required formControlName="fullName">
      </mat-form-field> 
      
        
        <mat-form-field appearance="outline" fxFlex="85" class="mt-10 font fs-5" >		
            <mat-label>Email</mat-label>
            <input matInput type="email" required formControlName="email">
          </mat-form-field> 
          
          
          <mat-form-field appearance="outline" fxFlex="85" class="mt-10 font fs-5">		
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" required formControlName="password">
          </mat-form-field> 
          <!-- <mat-error  *ngIf ="validField ('phone')">
              completa este dato
          </mat-error>  -->

          <mat-form-field appearance="outline" fxFlex="85" class="mt-10 font fs-5">		
            <mat-label>Confrimar Contraseña</mat-label>
            <input matInput type="password" required formControlName="confirm">
        </mat-form-field> 
        <!-- <mat-error  *ngIf ="validField ('phone')">
            completa este dato
        </mat-error>  -->
 
      </form>

      <div fxLayout="row wrap" fxLayoutAlign="center center" class="btnLogin mt-20" fxFlex="75">
          <span class="font fs-5">Crear Cuenta</span>
      </div>
      
      <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-40" fxFlex="80">
        <div class="line" fxFlex="35"></div>
        <span class="font fs-4" fxFlex="20" fxLayoutAlign="center center">o</span>
        <div class="line" fxFlex="35"></div>
    </div>

      <div fxLayout="row wrap" fxLayoutAlign="center center" class="btnGoogle mt-20" fxFlex="75" >
          <img src="assets/google.png" alt="" fxFlex="10">
          <span class="font fs-5">oogle</span>
      </div>


  </div>


  
  <!-- save button -->
  <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="100" style="margin-bottom: 20px;">
  
  <div  fxLayout="row wrap"  fxLayoutAlign="start" fxFlex="95"  style="margin-top: 15px" >
    <p class="font fs-4"> ¿Ya tenes una cuenta?<b style="color: red; cursor: pointer;" routerLink="../login" > &nbsp; Ingresa acá</b></p>
  </div>    

  
 
</div>
<!-- end save button -->

</div>




