

<div fxLayout="row wrap" fxLayoutAlign="center start" class="backDelivery" >

    
    <div fxLayout="row wrap" fxLayoutAlign="center"  fxFlex="100" style="margin-top: 50px;">
        <img src="assets/logo-header.png" alt="" fxFlex="50">
        <img src="assets/delivery.png" alt="" fxFlex="100" style="transform: scale(1.3);" >
    </div>  
    
    <!-- <div  fxLayout="row wrap"  fxLayoutAlign="center" fxFlex="100"   style="margin-top: 40px" class="whiteframe">
        <h1 style="font-family: awesome; font-size: 5vw; padding: 5px;" fxFlex="100">Hola, <b>Marcelo!!</b></h1>
        <h1 style="font-family: awesome; font-size: 5vw; padding: 5px;" fxFlex="100">Necesitamos tus datos para llevarte tu pedido</h1>
    </div>     -->

    <!-- <button mat-raised-button fxFlex="70" style="font-family: awesome; font-size: 5vw; border-radius: 40px; line-height: 2.2em; background-color: red; color: white; margin-top: 20px;" (click)="openBottomSheet()"><i class="material-symbols-outlined" style="transform: scale(1.3);">share_location</i> 
       &nbsp; &nbsp; Ubicación
    </button> -->


</div>