
.mat-dialog-container{

    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 !important;
}



.backDelivery{
    background-color:  #fccc04;
}

.whiteframe{
    background-color: white;
    border-radius: 10px;

    box-shadow: -1px 4px 14px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 4px 14px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 14px -2px rgba(0,0,0,0.75);
}


.font{
    font-family: 'poppins-light'; 
    font-size: 4vw;
}

