/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica Neue", sans-serif; }


@font-face {
    font-family:'awesome';
    src: url(assets/font/fontawesome-webfont.ttf);
     
}

@font-face {
  font-family:'poppins-light';
  src: url(assets/font/poppins/Poppins-Light.ttf);
   
}

.font{
  font-family:'poppins-light';
}

.fs-3{
  font-size: 1em;
}
.fs-4{
  font-size: 1.2em;
}
.fs-5{
  font-size: 1.3em;
}
.fs-6{
  font-size: 2em;
}

.f-w{
  color: white;
}

.btnFilled{
  font-family:'poppins-light';
  background-color: red;
  color: white;
}

.mt-10{
  margin-top: 10px;
}

.mt-15{
  margin-top: 15px;
}

.mt-20{
  margin-top: 20px;
}

.mt-25{
  margin-top: 25px;
}

.mt-30{
  margin-top: 30px;
}

.mt-40{
  margin-top: 40px;
}


.material-icons-outlined {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.349);
    cursor: pointer;

}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 48
  }




.custom-modalbox {
  
  max-width: 95vw!important;  /*max-width para el ancho del dialog*/
  height: 60vh!important;

  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}


 .custom-google-register {
  
  max-width: 90vw!important;  /*max-width para el ancho del dialog*/
  height: 40vh!important;
  margin-bottom: 27vh;


  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-geo {
  
  max-width: 90vw!important;  /*max-width para el ancho del dialog*/
  height: 50vh!important;


  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}


