/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica Neue", sans-serif; }


@font-face {
    font-family:'awesome';
    src: url(assets/font/fontawesome-webfont.ttf);
     
}

@font-face {
  font-family:'poppins-light';
  src: url(assets/font/poppins/Poppins-Light.ttf);
   
}

.font{
  font-family:'poppins-light';
}

.fs-4{
  font-size: 4vw;
}
.fs-5{
  font-size: 5vw;
}
.fs-6{
  font-size: 6vw;
}


.btnFilled{
  font-family:'poppins-light';
  background-color: red;
  color: white;
}

.material-icons-outlined {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.349);
    cursor: pointer;

}
.material-icons-outlined:hover {
    color: rgb(0, 0, 0);

    // .font{
    //     color: rgb(0, 0, 0);
    //     background-color: #eaafaf;
        
    // }


}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 48
  }

// .mat-dialog-container {
// }


.custom-modalbox {
  
  max-width: 95vw!important;  /*max-width para el ancho del dialog*/
  height: 60vh!important;

  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

// ::ng-deep .custom-modalbox {
//   width: 10%;
// }
