
<div fxLayout="row wrap" fxLayoutAlign="center start" >

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
        <img src="assets/logo-header.png" alt="" fxFlex="25">
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100" >
        <span class="material-symbols-outlined" (click)="closeBottomSheet('close')">close</span>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-top: 30px;">
        
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="item font fs-5" fxFlex="100" (click)="closeBottomSheet('profile')">
           <span > Perfil </span>
            <i class="material-symbols-outlined"  > navigate_next</i>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="item font fs-5 mt-10" fxFlex="100">
            <span> Pedidos </span>
            <i class="material-symbols-outlined" >navigate_next</i>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="item font fs-5 mt-10" fxFlex="100">
            <span> Ofertas del GRUPO MARTINEZ </span>
            <i class="material-symbols-outlined" >navigate_next</i>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="item font fs-5 mt-10" fxFlex="100"  (click)="closeBottomSheet('settings')">
            <span> Configuraciones </span>
            <i class="material-symbols-outlined" >navigate_next</i>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="item font fs-5 mt-10" fxFlex="100" style="margin-bottom: 30px;">
            <span> Cerrar Sesión </span>
            <i class="material-symbols-outlined" >navigate_next</i>
        </div>



    </div>

</div>