

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style="margin-bottom: 60px">


<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style="margin-top: 40px">
   <h1 class="font" fxFlex="95" class="font">  Oferta especial, Viernes para compartir!!!!</h1>
    <img src="assets/off1.png" fxFlex="100" (click)="openBottomSheet()">
</div>

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style="margin-top: 40px">
    <h1 class="font" fxFlex="95">  Oferta especial, Viernes solo para vos!!!!</h1>
     <img src="assets/off2.png" fxFlex="100" (click)="openBottomSheet()" >
 </div>

 <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style="margin-top: 40px">
     <img src="assets/off3.png" fxFlex="100" (click)="openBottomSheet()" >
 </div>

 

</div>
